*{
    font-family: sans-serif;
}

.penny{
    width: 55px;
    height: 55px;
    background-color: rgb(128, 78, 32);
}
.quarter{
    width: 80px;
    height: 80px;
    background-color: rgb(142, 158, 163);
}
.nickel{
    width: 65px;
    height: 65px;
    background-color: rgb(123, 133, 136);
}
.dime{
    width: 40px;
    height: 40px;
    background-color: rgb(200, 212, 216);
}
.dollar {
    width: 200px;
    height: 100px;
    background-color: rgb(66, 139, 66);
    transform: translateY(40px) rotate(20deg) scale(.8);
    border: 2px solid rgb(30, 80, 43);
}
.quarter, .nickel, .dime {
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.856);
    text-shadow:rgba(0, 0, 0, 0.253) 1px 3px;
    border: 2px solid #616161;
    box-shadow: rgba(0, 0, 0, 0.253) 1px 3px 10px ;
    transform: translateY(40px) rotate(120deg) scale(.8);

}
.money {

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    opacity: 0;
    transition: all 1s;
    user-select: none;
    /* cursor: pointer; */
    
}

.money.visible{
    opacity: 1;
    transform: translateY(0px) rotate(0deg) scale(1) !important;
}

#problem-container{
    font-size: 24px;
    max-width: 700px;
    margin: 60px auto;
}
#response-container {
    font-size: 24px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    gap: 14px;
}
#wallet-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    max-width: 800px;
    margin: auto;
}
.wallet{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #ecf2fc;
    border-radius: 10px;
    gap: 10px;
    padding: 50px;
    overflow:hidden;
}

.wallet-title{
    flex: 1 1 100%;
    text-align: center;
    max-width: 760px;
    margin:auto;
    font-size: 24px;
    margin-bottom: 20px;
}

@keyframes coin-entrance{
    0% {transform: translateY(40px);}
    75%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}