.penny{
    width: 55px;
    height: 55px;
    background-color: rgb(128, 78, 32);
}
.quarter{
    width: 80px;
    height: 80px;
    background-color: rgb(142, 158, 163);
}
.nickel{
    width: 65px;
    height: 65px;
    background-color: rgb(123, 133, 136);
}
.dime{
    width: 40px;
    height: 40px;
    background-color: rgb(200, 212, 216);
}
.dollar {
    width: 200px;
    height: 100px;
    background-color: rgb(66, 139, 66);
}
.coin {
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.856);
    text-shadow:rgba(0, 0, 0, 0.253) 1px 3px;
    border: 2px solid rgb(73, 73, 73);
    box-shadow: rgba(0, 0, 0, 0.253) 1px 3px 10px ;
}
.coin, .bill {

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}
#wallet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.wallet{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgb(238, 238, 211);
    border-radius: 10px;
    gap: 10px;
    padding: 30px;
}